html, body {
    /* set margin to 0 and overflow to hidden, to
     use the complete page */
    margin: 0;
    overflow: hidden;
    background-color: #696969;
    font-size: 24px;
    height: 100%;
    min-height: 100%;
    width:100%;
}

#modelview {
    width:68%;
    height:100%;
    z-index:50;
    float:left;
    margin:0px;
    padding:0px;
    /*border: 5px solid white;*/
}

#indicator  {
    width: 100px;
    height: 100px;
    background-color: #808080; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

#editor-panel {
    float:left;
    width:32%;
    height: 100%;
    min-height: 100%;
    margin:0px;
    padding:4px;
    background-color:#f8f8f8;
}

#editor {
    position:relative;
    left:0px;
    height: 100%;
    min-height: 100%;
    width:100%;
}

.icon {
    padding:0px;
    padding-bottom: 10px;
    margin:0px;
    width:40px;
    height:40px;
}