body {
    /* set margin to 0 and overflow to hidden, to
     use the complete page */
    margin: 0;
    overflow: hidden;
    background-color: #696969;
    font-size: 20px;
}

#editor {
    position:absolute;
    top:55px;
    left:0px;
    z-index:1;
    width:33%;
    height:75%;
}

#WebGLCanvas {
    position:absolute;
    top:55px;
    left:0px;
}