body {
    /* set margin to 0 and overflow to hidden, to
     use the complete page */
    margin: 0;
    overflow: hidden;
    background-color: #696969;
    font-size: 24px;
}

#modelview {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:-1;
    padding-left:25%;
}

#editor-panel {
    float:left;
    width:33%;
    height:100%;
    margin:0px;
    padding:4px;
    background-color:#f8f8f8;
}

#editor {
    /*position:absolute;
    top:60px;
    left:0px;
    z-index:1;
    width:33%;
    height:75%;*/
    position:relative;
    left:0px;
    height:600px;
    width:100%;
    float:left;
}

.icon {
    padding:0px;
    padding-bottom: 10px;
    margin:0px;
    width:40px;
    height:40px;
}